@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
/* main style */
body {
  background-color: #f4f5f7;
  font-family: 'Inter', sans-serif;;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
}
.main-wrap {
  width: 80%;
  padding: 0 10%;
}
/* profile-wrap */
.profile-wrap {
  width: 100%;
  height: 45vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 0 0 0 ;
}
.profileImg-wrap {
  width: 150px;
  height: 150px;
  border-radius: 100px;
  position: relative;
  top: 0;
  left: 0;
}
.profile-share-wrap {
    align-self: flex-end;
    margin-right: 100px;
    cursor: pointer;
  }
  .profile-share-wrap:hover .share-hover {
    display: inline;
  }


.share-hover {
  display: none;
}
.profileImg-wrap:hover {
  background-color: #6670856e;
}
.profile-icon {
  width: 30px;
  z-index: 1000;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -30%);
  display: none;
}
.profileImg-wrap:hover .profile-icon {
  display: block;
}
#profile_img {
  width: 150px;
  object-fit: cover;
  border-radius: 100px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}
.mobileMore {
  display: none;
}
.profile-wrap p {
    font-size: 1.2rem;
    font-weight: 700;
  }
/* link section */
.link-button {
  width: 100%;
  background-color: #eaecf0;
  border: none;
  padding: 20px 0;
  display: block;
  margin: 25px 0;
  text-decoration: none;
  color: black;
  font-size: 1rem;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
}
.link-button:hover {
  background-color: #d0d5dd;
}
.link-img-wrap {
  width: 100%;
  text-align: center;
  padding: 40px 0;
}
.link-img-wrap img {
  padding: 0 15px;
}
/* footer section */
.footer-wrap {
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer-wrap img {
  width: 150px;
}
.footer-wrap span {
  font-size: 1.1rem;
  color: #667085;
}
@media only screen and (max-width: 800px) {
  .main-wrap {
    width: 90%;
    padding: 0 5%;
  }
  .profile-share-wrap {
    padding: 0;
    margin: 0;
  }
  .profile-share-wrap:hover .share-hover {
    display: none;
  }
  .shareIcon {
    display: none;
  }
  .mobileMore {
    display: inline;
  }
  .share-hover {
    display: none;
  }
  .footer-wrap {
    flex-direction: column;
  }
  .footer-wrap span {
    padding: 20px 0;
  }
}
